<page-header content=detailsVm.pageHeader></page-header>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <!--Clicking on this button will give us the way to update the posted internship details using a modal-->
        <a class="btn btn-primary" style="color: white;" ng-click="detailsVm.popUpdateForm()">Update Details</a>
    </li>
</ol>


<!-- Details of the internship -->
<div class="internship-post" style="background-color: white; margin-bottom: 15px;">
    <!-- Internship post-->
    <div class="post-header d-flex">
        <div class="mr-auto p-2">
            <h5 class="internship-title">{{ detailsVm.details.data.internship_title }}</h5>
        </div>

        <div class="apply-by p-2">
            <p><strong>Posted on: </strong><span class="i-postDate">{{detailsVm.details.data.posted_on}}</span></p>
        </div>
    </div>

    <div class="internship-info">
        <ul>
            <li><strong>Stipend: </strong>{{detailsVm.details.data.stipend}}</li>
            <li><strong>Number of Applications: </strong>{{detailsVm.details.data.no_of_applications}}</li>
            <li><strong>Type: </strong>{{detailsVm.details.data.type}}</li>
            <li><strong>Location: </strong>{{detailsVm.details.data.location}}</li>
            <li><strong>Duration: </strong>{{detailsVm.details.data.duration}}</li>
        </ul>
    </div>
</div>


<!--https://scotch.io/tutorials/sort-and-filter-a-table-using-angular-->

<!-- Leaderboard Table -->
<div class="pb-2" id="">
    <div class="card card-body">
        <h5>Leaderboard</h5>

        <table class="table" id="leaderboard">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Status</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="info in detailsVm.details.data.applications | orderBy: 'applicant_rank'">
                    <th scope="row">{{info.applicant_rank}}</th>
                    <td>{{info.applicant_name}}</td>
                    <td>{{info.applicant_email}}</td>
                    <td>{{info.applicant_status}}</td>
                    <td><button class="btn btn-success" disabled="">Send Mail</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Submissions -->
<div class="" id="">
    <div class="card card-body">
        <h5>Submissions</h5>


        <div class="card mb-2 submission-tile" ng-repeat="info in detailsVm.details.data.applications">
            <div class="card-header">
                <span class="submission-name">{{ info.applicant_name }}</span>
                <form class="pull-right m-0">
                    <label for="rank" class="m-0">Rank</label>
                    <input class="submission-rank" type="text" name="rank" max="10" min="1" value="{{ info.applicant_rank }}">
                </form>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="companyName">Solution link</label>
                    </div>

                    <div class="form-group col-md-6">
                        <input type="text" name="title" class="form-control" id="title" placeholder="Drive link" value="{{ info.applicant_solutionLink }}" readonly>
                    </div>
                    <div class="form-group col-md-3">
                        <a href="{{ info.applicant_solutionLink }}" target="_blank" class="w-100 btn btn-primary btn-sm">View</a>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="companyName">Resume</label>
                    </div>
                    <div class="form-group col-md-9">
                        <a href="{{ info.applicant_resume }}" class="w-100 btn btn-primary">Click here to view resume</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Applied on 
                <span class="submission-date">
                    {{ info.applicant_dateOfApplying }}
                </span>
                <button class="btn btn-info pull-right mx-1">Update Rank</button>
                <button class="btn btn-success pull-right mx-1 submission-accept" data-toggle="modal" data-target="#acceptSubmissionConfirmation">Accept</button>
                <button class="btn btn-danger pull-right mx-1 submission-reject">Reject</button>
            </div>
        </div>
    </div>
</div>

<!-- Update confirmation Modal -->
<div class="modal fade" id="acceptSubmissionConfirmation" tabindex="-1" role="dialog" aria-labelledby="updateConfirmationTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure to accept?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="accept-confirm">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(document).on('click','.submission-accept',function() {

            $(this).parents('.submission-tile').addClass('alert-success');
            $(this).parents('.submission-tile').removeClass('alert-danger');
        });
        $(document).on('click','.submission-reject',function() {
            $(this).parents('.submission-tile').addClass('alert-danger');
            $(this).parents('.submission-tile').removeClass('alert-success');
        });
    });

</script>