<page-header content=addNewVm.pageHeader></page-header>

<!-- Add Internship form BEGINS -->
<div id="addNew-form">

    <div role="alert" ng-show="addNewVm.formError" class="alert alert-danger">{{ addNewVm.formError }}</div>

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="companyName">Title of Internship</label>
                <input type="text" name="title" required="required" class="form-control" id="title" ng-model="addNewVm.formData.internship_title" placeholder="Enter a catchy title!">
            </div>
            <div class="form-group col-md-6">
                <label class="" for="location">Location</label>
                <select ng-model="addNewVm.formData.location" class="custom-select" ng-options="x for x in addNewVm.masterData.locations">
                    </select>
            </div>
            <div class="form-group col-md-6">
                <label class="" for="category">Category</label>
                <select ng-model="addNewVm.formData.category" class="custom-select" ng-options="y for y in addNewVm.masterData.categories">
                    </select>
            </div>
            <div class="form-group col-md-6">
                <label class="" for="type">Type</label>
                <select ng-model="addNewVm.formData.type" class="custom-select" ng-options="z for z in addNewVm.masterData.types"></select>
            </div>

            <div class="form-group col-md-6">
                <label for="stipend">Stipend</label>
                <span class="col-md-9 pull-right"></span>
                <input type="number" name="stipend" class="form-control" id="stipend" placeholder="(in INR)" ng-model="addNewVm.formData.stipend">
            </div>

            <div class="form-group col-md-6">
                <label class="" for="duration">Duration</label>
                <input type="text" class="form-control" id="duration" ng-model="addNewVm.formData.duration" placeholder="(in Months)">
            </div>

            <div class="form-group col-md-6">
                <label for="website">Company website</label>
                <input type="website" class="form-control" id="website" placeholder="Enter company website URL" ng-model="addNewVm.formData.companyWebsite">
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <label for="question">Question to Solve</label>
                <textarea name="question" class="form-control" id="question" placeholder="Question to solve" ng-model="addNewVm.formData.questionToSolve"></textarea>
            </div>
            <div class="form-group col-12">
                <label for="about">Abbout the Internship</label>
                <textarea name="about" class="form-control" id="about" placeholder="About the internship" ng-model="addNewVm.formData.aboutInternship"></textarea>
            </div>
            <div class="form-group col-12">
                <label for="skills">Skills required</label>
                <textarea name="skills" class="form-control" id="skills" placeholder="Skills required for the internship" ng-model="addNewVm.formData.skillsRequired"></textarea>
            </div>
        </div>

    </form>
    <button class="btn btn-success pull-right" ng-click="addNewVm.onSubmit()" style="margin-bottom: 10px;">Post internship</button>
</div>
<!--Form for add internship ends-->